/* @import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap'); */


/* *{
  box-shadow: 0 0 0 1px red !important;
} */


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.mantine-RangeCalendar-day[data-in-range] {
  border-top: 1px solid rgba(0, 168, 0, 0.63);
  border-bottom: 1px solid rgba(0, 168, 0, 0.63);;
}

.media-image-component{
  transition: border .2s, box-shadow .3s;
  border:2px solid #00000030;
  box-shadow: 0 0 0px 0px rgb(9 255 0 / 72%);
}
.media-image-component.active {
  border:2px solid rgb(9 255 0 / 92%);
  box-shadow: 0 0 0px 42px rgb(9 255 0 / 12%);
}
.booking-card{
    box-shadow: 0 0 20px 14px rgb(159 155 155 / 10%);
}
.booking-confirmed-card{
  box-shadow: 0 0 20px 14px rgb(159 155 155 / 10%);
  animation: 1.95s cubic-bezier(0.42, 0, 0, 1.07) 0s 1 alternate shadow-animation;
}

@keyframes shadow-animation {
  0% {
    box-shadow: 0 0 20px 14px rgb(159 155 155 / 10%);
  }
  50% {
    box-shadow: 0 0 0px 6px rgba(64 192 87/ 50%), 0 0 0px 34px rgba(64 192 87/ 30%);
  }
  100% {
    box-shadow: 0 0 20px 14px rgb(159 155 155 / 10%);
  }
}
/* Polaroids */
.polaroid-wrapper {
  background: #fff;
  padding: .51rem;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.22),1px 1px 5px 1px rgba(0,0,0,0.12); 
  
}
.polaroid-wrapper > img{
  max-width: 100%;
  height: auto;
}
.polaroid-item {
  width: 100%;
  display: inline-block;
  margin-top: 0rem;
}
.polaroid-item .polaroid-wrapper:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.polaroid-item.polaroid-right {
  transform: scale(0.9, 0.9) rotate(3deg);
  transition: all 0.35s;
}
.polaroid-item.polaroid-left {
  transform: scale(0.9, 0.9) rotate(-3deg);
  transition: all 0.35s;
}
.polaroid-item.polaroid-right .polaroid-wrapper:before {
  transform: rotate(6deg);
  right: 12px;
}
.polaroid-item.polaroid-left .polaroid-wrapper:before {
  transform: rotate(-6deg);
  left: 12px;
}
.polaroid-item .polaroid-wrapper:before {
  height: 20%;
  width: 47%;
  box-shadow: 0 0px 1px 3px rgba(0,0,0,0.4);
  bottom: 30px;
}
.polaroid-item:hover {
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.polaroid-item:hover .polaroid-wrapper:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}
/* END Polaroids */